.logo-discription {
    /* display: flex; */
    /* flex-direction: column; */


    flex: 1;
    max-width: 600px;
}

.logo2 {
    width: 186px;
    height: 150px;
    margin-bottom: 1rem;   
}

.title {
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 3rem;
}

.discription {
    color: #141414;
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 2rem;  
}

.button-saiba-mais {
    width: 30%;
    margin-left: 0;
    margin-top: 5%;
    background-color: #1665FE;
    color: #F4F4F4;
    border: none;
    text-align: center;
    padding: 0.5rem 1.5rem;
    font-size: 14px;
    cursor: pointer;
}