.about {
  height: 100vh;
  display: flex;
  height: auto;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
  max-width: 1440px;
  margin: auto;
}

.about-content {
  display: flex;
  flex-direction: row;
  max-width: 700px;
  width: 100%;
  gap: 3rem;
  align-items: center;
  justify-content: space-between;
}

.about-text {
  flex: 1;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 700px;
}

.tagline {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.9rem;
  opacity: 0.9;
}

.title {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 1.2;
}

.discription-about {
  font-size: 1rem;
  line-height: 1.6;
  color: #f0f0f0;
}

.about-image {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-image img {
  width: 100%;
  max-width: 520px;
  max-height: 90vh;
  height: 60vh;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

/* Responsivo */
/* @media (max-width: 960px) {
  .about-content {
    flex-direction: column;
    text-align: center;
    overflow-x: hidden; 
    padding: 0 1rem;     
  }

  .about-text {
    align-items: center;
    word-break: break-word;
    max-width: 100%;
  }

  .about-image img {
    max-width: 100%;
    height: auto;
  }
} */

@media (max-width: 960px) {
  .about {
    flex-direction: column;
    height: 100vh;
  }

  .about-content {
    flex-direction: column;
    height: 100vh;                  
    overflow-y: auto;                
    text-align: center;
    padding: 1rem;
    box-sizing: border-box;
  }

  .about-text {
    align-items: center;
    text-align: center;
    max-width: 100%;
    /* overflow-y: auto; */
  }

  .tagline {
    font-size: 0.75rem !important;
  }

  .title {
    font-size: 1.5rem !important;
    line-height: 1.3 !important;
  }
  
  .discription-about {
    font-size: 0.9rem !important;
    line-height: 1.4 !important;
  }

  .about-image {
    order: -1;
  }

  .about-image img {
    max-height: 30vh !important;
    margin-top: 1rem;
  }
}

